@use "@styles/common" as *;

.article {
	background-color: $c-n-white;
	padding: 1.5rem min(2rem, 5%) 0;
	margin: 0.5rem 0 1rem;
	outline: 2px solid $c-n-light-gray;
	outline-offset: 0.5rem;
	line-height: 2.5ch;

	&__title {
		color: $c-n-dark-blue;
		font-weight: 500;
		line-height: 2.5ch;
		margin-bottom: 0.5ch;

		&--primary {
			font-size: 1.6rem;
		}
		&--secondary {
			font-size: 1.2rem;
		}

		&--tertiary {
			font-weight: 400;
			cursor: pointer;
		}
	}

	&__text {
		color: $c-n-grayish-blue;
		margin-bottom: 1ch;
		line-height: 2.5ch;

		&--small {
			font-size: 0.8rem;
			color: $c-n-grayish-blue;
		}
	}

	&__link {
		color: $c-p-moderate-blue;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&__divider {
		border: none;
		margin: 0.5ch 0;
	}
}

.list {
	margin: 0 0 1ch;
	list-style: inside;
	color: $c-n-grayish-blue;

	&__title {
		display: inline;
		color: $c-n-dark-blue;
		font-weight: 400;
		margin-right: 1ch;
	}

	&__text {
		display: inline;
		color: $c-n-grayish-blue;
	}

	&__link {
		height: 1.5ch;
		margin-right: 0.25ch;
		aspect-ratio: 1;
		color: $c-n-dark-blue;
	}
}

.info {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1ch;
	font-size: 0.8rem;
	height: 2rem;
	border-top: 1px solid $c-n-light-gray;

	& > * {
		margin: 0;
	}
}

.go-up-wrapper {
	@include max-width;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	position: fixed;
	top: 0;
	display: flex;
	justify-content: flex-end;
}

.go-up {
	height: 2rem;
	aspect-ratio: 1;
	background-color: $c-n-very-light-gray;
	box-sizing: content-box;
	padding: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	border: 2px solid $c-n-light-gray;
	border-top: none;
	border-right: none;
	color: $c-n-grayish-blue;

	&:hover {
		cursor: pointer;
		color: $c-n-light-gray;
	}
}
