$c-p-moderate-blue: #5457b6; //button (inactive)
$c-p-soft-red: #ed6468; //button (inactive)
$c-p-light-grayish-blue: #c3c4ef; //button (active), voting icons (inactive)
$c-p-pale-red: #ffb8bb; //button (active)

$c-n-dark-blue: #324152; //editing text
$c-n-grayish-blue: #67727e; //main text
$c-n-light-gray: #eaecf1; //
$c-n-very-light-gray: #f5f6fa; //main background
$c-n-white: #ffffff;

$break-point-1: 640px;
$break-point-2: 480px;
$break-point-3: 320px;

$max-width: 45rem;
@mixin max-width($width: $max-width) {
	max-width: $width;
	margin: 0 auto;
	padding: 0 1rem;
}

.button {
	border: none;
	font-size: 1rem;
	font-weight: 500;
	padding: 1ch;
	min-height: 3rem;
	border-radius: 0.5rem;
	color: $c-n-white;
	justify-self: right;
	text-transform: uppercase;
	cursor: pointer;

	&--confirm {
		background-color: $c-p-moderate-blue;
		max-width: 10ch;
		width: 100%;

		&:hover {
			background-color: $c-p-light-grayish-blue;
		}
	}

	&--yes {
		background-color: $c-p-soft-red;
		flex-grow: 1;
	}

	&--no {
		background-color: $c-n-grayish-blue;
		flex-grow: 1;
	}

	&--disabled {
		cursor: not-allowed;
		background-color: $c-p-light-grayish-blue;
	}
}

@mixin post {
	width: 100%;
	padding: 1.5rem;
	margin-top: 1em;
	border-radius: 0.5rem;
	background-color: $c-n-white;

	@media screen and (max-width: $break-point-1) {
		padding: 1.5rem 1rem 1rem;
	}

	&__avatar {
		border-radius: 50%;
		overflow: hidden;
		max-width: 2rem;
		width: 100%;
		aspect-ratio: 1;
		background-color: $c-n-light-gray;
		display: grid;
		place-items: center;

		&--empty {
			color: $c-n-grayish-blue;
			padding: 0.5rem;
		}
	}

	&__text {
		grid-area: text;
		color: $c-n-grayish-blue;
		line-height: 2.5ch;
		flex-grow: 1;
		min-width: 0;
		white-space: pre-line;

		&--edit {
			padding: 1ch;
			border-radius: 0.5rem;
			border: none;
			outline: 1px solid;
			outline-color: $c-n-light-gray;
			resize: none;

			&:focus {
				outline-color: $c-n-grayish-blue;
			}
		}

		&--deleted {
			font-style: italic;
		}
	}
}
