@use "@styles/common" as *;

.more {
	margin-top: 1ch;

	&__button {
		background-color: transparent;
		border: none;
		color: $c-n-grayish-blue;
		font-size: 0.9rem;

		&:hover {
			cursor: pointer;
			color: $c-n-dark-blue;
		}
	}
}
