@use "@styles/common" as *;

.reply-wrapper {
	grid-area: reply;
	display: flex;
}

.reply {
	@include post;
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-top: 0.5rem;

	@media screen and (max-width: $break-point-2) {
		flex-wrap: wrap;
		justify-content: flex-end;

		&__text {
			flex-basis: 100%;
			width: 0;
		}
	}

	&__avatar {
		width: clamp(2rem, 10%, 3rem);

		@media screen and (max-width: $break-point-2) {
			display: none;
		}
	}
}
