@use "@styles/common" as *;

.reply-wrapper {
	grid-area: reply;
	display: flex;
}

.reply {
	@include post;
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	margin-top: 0.5rem;

	&__avatar {
		height: 3rem;
	}
}
