@use "@styles/common" as *;

.action {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	background-color: transparent;
	border: none;
	height: 1rem;

	&:hover {
		cursor: pointer;
	}

	&--primary {
		color: $c-p-moderate-blue;

		&:hover {
			color: $c-p-light-grayish-blue;
		}
	}

	&--secondary {
		color: $c-p-soft-red;

		&:hover {
			color: $c-p-pale-red;
		}
	}

	&__label {
		font-size: 1rem;
		font-weight: 500;
	}

	&__icon {
		height: 1rem;
	}
}
