@use "@styles/common" as *;

.posts-container {
	display: flex;
	flex-direction: column;
}

.post-wrapper {
	display: grid;
	grid-template-areas:
		"lines post"
		"lines reply";
	grid-template-columns: min-content auto;

	&:nth-child(2) > .post {
		margin-top: 0;
	}
}

.post {
	@include post;
	grid-area: post;
	position: relative;

	&--normal {
		display: grid;
		grid-template-areas:
			"voting info action"
			"voting text text"
			"button button button";
		grid-template-columns: min-content auto auto;
		row-gap: 1rem;
		column-gap: 1.5rem;
	}

	&--focused {
		animation: focus 1s linear;
		outline: 0.25rem solid transparent;

		@keyframes focus {
			20%,
			80% {
				outline-color: $c-p-moderate-blue;
			}
		}
	}

	&--closing {
		animation: close 250ms linear;

		@keyframes close {
			from {
				margin-bottom: 5rem;
			}
			to {
				margin-bottom: 0;
			}
		}
	}

	&__voting {
		grid-area: voting;
	}

	&__info {
		grid-area: info;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 1ch;
	}

	&__name {
		font-weight: 500;
		color: $c-n-dark-blue;

		&--link {
			cursor: pointer;
		}
	}

	&__you {
		background-color: $c-p-moderate-blue;
		padding: 0.25ch 0.5ch;
		border-radius: 0.25rem;
		font-size: 0.8rem;
		font-weight: 700;
		color: $c-n-very-light-gray;
	}

	&__date {
		font-size: 0.9rem;
		color: $c-n-grayish-blue;
	}

	&__actions-container {
		grid-area: action;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		height: 2rem;
		gap: 1ch;
		justify-content: flex-end;
	}

	&__button {
		grid-area: button;
	}

	&__more {
		position: absolute;
		bottom: 1ch;
		left: 0;
		padding-left: inherit;
		font-size: 0.75rem;
		color: $c-p-moderate-blue;

		&:hover {
			cursor: pointer;
			color: $c-p-light-grayish-blue;
		}
	}

	&__scroll {
		position: absolute;
		height: 1rem;
		top: 0.25rem;
		left: 0.25rem;
		aspect-ratio: 1/1;
		background: none;
		color: $c-n-light-gray;
		border: none;

		&:hover {
			cursor: pointer;
			color: $c-p-moderate-blue;
		}
	}
}

.action {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	background-color: transparent;
	border: none;

	&:hover {
		cursor: pointer;
	}

	&--primary {
		color: $c-p-moderate-blue;

		&:hover {
			color: $c-p-light-grayish-blue;
		}
	}

	&--secondary {
		color: $c-p-soft-red;

		&:hover {
			color: $c-p-pale-red;
		}
	}

	&__label {
		font-size: 1rem;
		font-weight: 500;
	}
}
