@use "@styles/common" as *;

.posts-container {
	display: flex;
	flex-direction: column;
}

.post-wrapper {
	display: grid;
	grid-template-areas:
		"lines post"
		"lines reply";
	grid-template-columns: min-content auto;

	&:first-child > .post {
		margin-top: 0;
	}
}

.post {
	grid-area: post;
	width: 100%;
	padding: 1.5rem;
	margin-top: 1em;
	border-radius: 0.5rem;
	background-color: $c-n-white;
	position: relative;

	&--normal {
		display: grid;
		grid-template-areas:
			"voting info action"
			"voting text text"
			"button button button";
		grid-template-columns: min-content auto auto;
		row-gap: 1rem;
		column-gap: 1.5rem;
	}

	&--focused {
		animation: focus 1s linear;
		outline: 0.25rem solid transparent;

		@keyframes focus {
			20%,
			80% {
				outline-color: $c-p-moderate-blue;
			}
		}
	}

	&--closing {
		animation: close 250ms linear;

		@keyframes close {
			from {
				margin-bottom: 5rem;
			}
			to {
				margin-bottom: 0;
			}
		}
	}

	&__voting {
		grid-area: voting;
	}

	&__info {
		grid-area: info;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 1ch;
	}

	&__avatar {
		border-radius: 50%;
		overflow: hidden;
		height: 2rem;
		aspect-ratio: 1/1;
		background-color: $c-n-light-gray;

		&--empty {
			color: $c-n-grayish-blue;
		}
	}

	&__name {
		font-weight: 500;
		color: $c-n-dark-blue;
	}

	&__you {
		background-color: $c-p-moderate-blue;
		padding: 0.25ch 0.5ch;
		border-radius: 0.25rem;
		font-size: 0.8rem;
		font-weight: 700;
		color: $c-n-very-light-gray;
	}

	&__date {
		font-size: 0.9rem;
		color: $c-n-grayish-blue;
	}

	&__actions-container {
		grid-area: action;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		height: 2rem;
		gap: 1ch;
		justify-content: flex-end;
	}

	&__text {
		grid-area: text;
		color: $c-n-grayish-blue;
		line-height: 2.5ch;
		flex-grow: 1;

		&--edit {
			padding: 1ch;
			border-radius: 0.5rem;
			border: none;
			outline: 1px solid $c-n-dark-blue;
			resize: none;
		}

		&--deleted {
			font-style: italic;
		}
	}

	&__button {
		grid-area: button;
	}

	&__more {
		position: absolute;
		bottom: 1ch;
		left: 0;
		padding-left: inherit;
		font-size: 0.75rem;
		color: $c-p-moderate-blue;

		&:hover {
			cursor: pointer;
			color: $c-p-light-grayish-blue;
		}
	}

	&__scroll {
		position: absolute;
		height: 1rem;
		top: 0.25rem;
		left: 0.25rem;
		aspect-ratio: 1/1;
		background: none;
		color: $c-n-light-gray;
		border: none;

		&:hover {
			cursor: pointer;
			color: $c-p-moderate-blue;
		}
	}
}

.action {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	background-color: transparent;
	border: none;

	&:hover {
		cursor: pointer;
	}

	&--primary {
		color: $c-p-moderate-blue;

		&:hover {
			color: $c-p-light-grayish-blue;
		}
	}

	&--secondary {
		color: $c-p-soft-red;

		&:hover {
			color: $c-p-pale-red;
		}
	}

	&__label {
		font-size: 1rem;
		font-weight: 500;
	}
}

.voting {
	background-color: $c-n-very-light-gray;
	width: 2.2rem;
	border-radius: 0.5rem;
	overflow: hidden;
	height: 6rem;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	place-items: center;
	font-weight: 500;

	&__vote-count {
		color: $c-p-moderate-blue;
	}

	&__button {
		border: none;
		width: 100%;
		height: 100%;
		background-color: transparent;

		&--uncast {
			color: $c-p-light-grayish-blue;
		}

		&--cast,
		&:hover {
			cursor: pointer;
			color: $c-p-moderate-blue;
		}
	}
}

.reply-wrapper {
	grid-area: reply;
	display: flex;
}

.reply {
	@extend .post;
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	margin-top: 0.5rem;

	&__avatar {
		@extend .post__avatar;
		height: 3rem;
	}
}
