@use "@styles/common" as *;

.voting {
	background-color: $c-n-very-light-gray;
	width: 2.2rem;
	border-radius: 0.5rem;
	overflow: hidden;
	height: 6rem;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	place-items: center;
	font-weight: 500;

	&__vote-count {
		&--zero {
			color: $c-p-light-grayish-blue;
		}

		&--positive {
			color: $c-p-moderate-blue;
		}

		&--negative {
			color: $c-p-soft-red;
		}
	}

	&__button {
		border: none;
		width: 100%;
		height: 100%;
		background-color: transparent;
		cursor: pointer;

		&--uncast {
			color: $c-p-light-grayish-blue;
		}

		&--upvote {
			color: $c-p-moderate-blue;
		}
		&--downvote {
			color: $c-p-soft-red;
		}
	}
}
