@use "@styles/common" as *;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

*,
*::before,
*::after {
	font-family: "Rubik", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.image {
	&__img {
		max-width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

html,
body,
#root {
	height: 100%;
}

#root {
	font-size: clamp(13px, 2.5vw, 16px);
}

body {
	background-color: $c-n-very-light-gray;
}

.app {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	@include max-width;
	margin-bottom: 1rem;
	margin-top: 1rem;

	&__error {
		padding: 1ch 0;
		font-family: monospace;
		font-size: 1rem;
		font-weight: 400;
	}
}
