@use "@styles/common" as *;

.sort {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 2em 0 1em;
	column-gap: 1ch;
	row-gap: 2ch;
	font-size: 0.8rem;
	text-transform: uppercase;

	&__line {
		display: inline;
		flex-grow: 1;
		height: 0.1rem;
		background-color: $c-n-light-gray;
	}

	&__text {
		color: $c-n-grayish-blue;

		&--decor {
			@media screen and (max-width: $break-point-3) {
				// display: none;
			}
		}
	}

	&__button-container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 1ch;
	}

	&__button {
		background-color: transparent;
		border: none;
		cursor: pointer;
		font-size: inherit;
		text-transform: inherit;

		&:hover {
			color: $c-n-dark-blue;
		}

		&--unselected {
			color: $c-n-grayish-blue;
		}

		&--selected {
			color: $c-n-dark-blue;
			font-weight: 500;
		}
	}
}
