@use "@styles/common" as *;

.nav-wrapper {
	background-color: $c-n-grayish-blue;
}

.nav {
	@include max-width;
	height: 3rem;
	display: flex;
	align-items: center;
	gap: 1ch;

	&__avatar {
		height: 2rem;
		aspect-ratio: 1;
		color: white;
		transition: opacity 250ms;

		&--round {
			border-radius: 50%;
			overflow: hidden;
		}
	}

	&__button {
		background-color: transparent;
		color: $c-p-soft-red;
		border: none;
		height: 1rem;
		aspect-ratio: 1;

		&:hover {
			cursor: pointer;
		}
	}

	&__text {
		font-weight: 500;
		font-size: 1rem;
		color: $c-n-very-light-gray;

		&--link {
			text-decoration: none;
			cursor: pointer;
		}
	}
}
